@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Home" asp-action="Weather">Weather</a></p>
    <p><a asp-controller="Home" asp-action="GetMess">Mess</a></p>
</div>
