
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>

<h2>Вы действительно хотите выйти ?</h2>
<form asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" >Да</button>
</form>

